/*Section separator design*/

.section-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
}

.section-divider::before {
  content: "";
  width: 1px;
  height: 10rem;
  border-radius: 0;
  background-color: rgb(179, 172, 172);
  position: absolute;
  top: -10rem;
  left: 50%;
}
